extends ./layouts/default

block title
    title Koa2 复习 首页

block content
    //- include ./includes/header

    .container-fluid
        .sidebar
        .content    
            .row
                .col-md-6
                    .card
                        img.card-img-top(src="http://via.placeholder.com/350x150", data-video="https://www.youtube.com/watch?v=KwRNq3jSqNM")
                    .card-body
                        h4.card-title 这是电影标题
                        p.car-desc 这是电影描述
                .col-md-6
                    h4 爱仕达大所大所大所多